@keyframes shake {
    0% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-10deg)
    }
    100% {
        transform: rotate(10deg)
    }
}

@keyframes fromTop {
    0%{
        transform: translateY(-9rem);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fromBottom {
    0%{
        transform: translateY(6rem);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fromLeft {
    0%{
        transform: translateX(-9rem);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fromRight {
    0%{
        transform: translateX(7rem);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}